html {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

body {
    width: fit-content;
    margin: auto;
}

h1 {
    text-transform: uppercase;
    font-size: 10vw;
    line-height: 0.8;
    text-align: left;
    width: fit-content;
    margin: auto;
    padding: 50px 24px;
}

#form-wrap {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 3em;
    margin: auto;
    padding: 24px;
}

label {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
    line-height: 0.8;
    display: block;
    margin-bottom: 1rem;
}

input {
    border: none;
    border-bottom: solid 2px rgb(152, 152, 152);
    vertical-align: bottom;
    color: rgb(152, 152, 152);
    background-color: transparent;
    font-size: 2rem;
    text-transform: uppercase;

    margin-bottom: 1rem;
}

input:focus-visible {
    outline: none;
}

input:focus {
    font-size: 2rem;
    text-transform: uppercase;
}

button {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    border: 0;
    width: fit-content;
    background-color: rgb(36, 36, 36);
    color: rgb(250, 250, 250);
    padding: .5em .8em;
    border-radius: 3px;
    margin: auto;
}

ul {
    list-style: none;
    padding: 24px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60vw;
}

#todo-list li {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    line-height: 200%;
    vertical-align: middle;
    margin: 1rem 0;
}

#todo-list li>input {
    margin: 0;
    padding: 0;
    position: relative;
    border-radius: 3px;
    accent-color: #ffffff;
    vertical-align: middle;
    font-size: 2rem;
    width: 2em;
}

#todo-list button {
    background-color: transparent;
    border: 1px solid rgba(182, 11, 11, 0.5);
    color: rgba(182, 11, 11, 0.5);
    transition: 300ms;
    margin: 0;
}

#todo-list button:hover {
    background-color: rgb(182, 11, 11);
    border: 1px solid rgb(182, 11, 11);
    color: rgb(255, 255, 255);
}

@media screen and (max-width: 480px) {
    ul {
        width: 90vw;
    }
}